<h1>New zone</h1>

<%= error_messages_for :zone %>

<% form_for(@zone) do |f| %>
  <table class="two-columns">
    <tr><td colspan=2 align=right><%= link_to 'Back', zones_path, :class=>'flat-btn' %></td></tr>
    <tr>
      <td class="key">Name</td>
      <td class="value"><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td class="key">Alias</td>
      <td class="value"><%= f.text_field :alias %></td>
    </tr>
    <tr>
      <td class="key">Description</td>
      <td class="value"><%= f.text_field :description %></td>
    </tr>
    <tr>
      <td colspan=2><%= f.submit "Create", :class => 'flat-btn' %></td>
    </tr>
  </table>
<% end %>
