<h1>Active Campaigns</h1>

<%= new_obj_link("campaign") %>
<br/>

<table class="basic-table">
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Notes</th>
  </tr>

  <% if @campaigns.length > 0 %>
    <% for campaign in @campaigns %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= campaign.name %></td>
        <td><%= campaign.code.upcase %></td>
        <td><%= campaign.notes %></td>
				<%= td_link_show_icon(campaign) %>
				<%= td_link_edit_icon(edit_campaign_path(campaign.id)) %>
				<%= td_link_delete_icon(campaign) %>
			</tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan=6>No data exists</td>
    </tr>
  <% end %>
</table>
